@import url('https://fonts.googleapis.com/css2?family=Handjet:wght,ELSH@100..900,2&family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sixtyfour+Convergence&display=swap');

body {
    background-color: #282828;
    font-family: "Montserrat", sans-serif;
    color: white;
}

button {
    font-family: "Montserrat", sans-serif;
    width: 300px;
    height: 50px;
}

.Upgrades {
    scroll-behavior: auto;
}

#Settings {
    border: 1px solid white;
    text-align: center;
    background-color: black;
}

#content1 {
    border: 1px solid white;
    text-align: center;
    width: 500px;
    background-color: black;
}

#content2 {
    border: 1px solid white;
    text-align: center;
    width: 500px;
    transform: translate(510px, -517px);
    background-color: black;
}

#content3 {
    border: 1px solid red;
    text-align: center;
    width: 500px;
    transform: translate(1025px, -1263px);
    background-color: black;
}


.ResetDataBtn {
    background-color: red;
    color: white;
    border: 3px solid darkred;
}