@import url('https://fonts.googleapis.com/css2?family=Handjet:wght,ELSH@100..900,2&family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sixtyfour+Convergence&display=swap');

body {
    background-color: #282828;
    font-family: "Montserrat", sans-serif;
    color: white;
    height: auto;
    width: auto;
    font-size: auto;
}

button {
    font-family: "Montserrat", sans-serif;
    width: 300px;
    height: 50px;
    user-select: none;
}

.Upgrades {
    scroll-behavior: auto;
}

#Settings {
    border: 1px solid white;
    text-align: center;
    position: static;
    background-color: black;
}

#content1 {
    border: 1px solid white;
    text-align: center;
    position: static;
    width: 500px;
    background-color: black;
}

#content2 {
    border: 1px solid white;
    text-align: center;
    width: 500px;
    position: absolute;
    top: 167px;
    left: 520px;
    background-color: black;
}

#content3 {
    border: 1px solid red;
    text-align: center;
    width: 500px;
    position: absolute;
    top: 167px;
    left: 1031px;
    background-color: black;
}

#content3_1 {
    border: 1px solid rgb(255, 174, 0);
    text-align: center;
    width: 500px;
    position: absolute;
    top: 2080px;
    left: 1031px;
    background-color: black;
}

#content4 {
    border: 1px solid rgb(168, 168, 246);
    text-align: center;
    width: 500px;
    position: absolute;
    top: 167px;
    left: 1542px;
    background-color: black;
}

#content4_1 {
    border: 1px solid rgb(168, 168, 246);
    text-align: center;
    width: 500px;
    position: absolute;
    top: 1440px;
    left: 1542px;
    background-color: black;
}

#content5 {
    border: 1px solid darkgreen;
    text-align: center;
    width: 500px;
    position: absolute;
    top: 745px;
    background-color: black;
}

#content5_1 {
    border: 1px solid rgb(0, 255, 191);
    text-align: center;
    width: 500px;
    position: absolute;
    top: 968px;
    left: 520px;
    background-color: black;
}

.ResetDataBtn {
    background-color: red;
    color: white;
    border: 3px solid darkred;
}

.SaveDataBtn {
    background-color: rgb(53, 212, 5);
    color: white;
    border: 3px solid rgb(6, 120, 20);
}

.ExportDataBtn {
    background-color: aqua;
    color: white;
    border: 3px solid darkcyan;
}

.ImportDataBtn {
    background-color: rgb(0, 166, 255);
    color: white;
    border: 3px solid rgb(0, 4, 255);
}

.Milestone {
    border: 1px solid white;
    width: 400px;
    margin: auto;
    margin-top: 10px;
    background-color: black;
}

.SettingsCheck {
    background-color: black;
    border: 1px solid white;
    color: white;
    position: static;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: auto;
        height: auto;
        width: auto;
    }
}